<div class="modal-body" id="modal-body">
  <h3>Result Validation on Activations in last 30 days.</h3>
  <hr>
  <h4>Total Activations = 297</h4>
  <canvas id="bar" class="chart chart-bar" chart-data="chart.item.data"
          chart-options="chart.item.options" chart-labels="chart.item.labels"
          chart-colors="chart.item.colors"></canvas>
</div>
<div class="modal-footer" style="text-align: right">
  <button class="btn btn-primary btn-sm" type="button" ng-click="chart.close()">OK</button>
</div>
